<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" charset="utf-8" content="width=device-width,initial-scale=1, minimum-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="icon" href="/img/elliotwave.ico">
    <title>Elliot Martinez Palomino</title>
</head>

<body>
    <aside class="site-sidebar">
        <div class="person">
            <div class="person-avatar">
                <img class="avatar" src="/img/elliotwave.jpg" />
            </div>

            <div class="person-content">
                <h1 class="person-title p-name"> Eduardo Elliot Martinez Palomino </h1>
                <h2 class="js-person-subtitle p-job-title" id="personSubtitle"> DevOps Engineer </h2>
            </div>

            <label class="toggle_btn">
                <input type="checkbox" onclick="changeProfession(this)">
                <span class="slider round"></span>
            </label>
        </div>

        <nav class="block-main-navigation">
            <div class="nav-menu-bar">
                <div th:each="externalLink : ${mycv.externalLinks}" class="social-icons" id="social-icons">
                    <a rel="me" href="mailto:elliotmtz12@gmail.com" title="mail: elliotmtz12@gmail.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    <a rel="me" th:href="${externalLink.linkedin}" title="linkedin: elliot martinez palomino">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a rel="me" th:href="${externalLink.github}" title="git: elliot">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </div>
                <a href="javascript:void(0);" class="js-menu-extend-button" onclick="showMenuItems()">
                    <i class="fa fa-bars"></i>
                </a>
            </div>

            <div class="js-nav-menu-items" id="menuItems">
                <li><a href="#about">About Me</a></li>
                <li><a href="#portfolio" id="menuItem2">Portfolio</a></li>
                <!--<li><a href="#music">Music</a></li>-->
            </div>
        </nav>

        <div th:each="externalLink : ${mycv.externalLinks}" class="block-social-icons" id="block-social-icons">
            <a rel="me" href="mailto:elliotmtz12@gmail.com" title="mail: elliotmtz12@gmail.com">
                <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
            <a rel="me" th:href="${externalLink.linkedin}" title="linkedin: elliot martinez palomino">
                <i class="fa fa-linkedin-square"></i>
            </a>
            <a rel="me" th:href="${externalLink.github}" title="git: elliot">
                <i class="fa fa-github" aria-hidden="true"></i>
            </a>
        </div>
    </aside>

    <div class="site-main">
        <div class="about" id="about">
            <h1>About Me</h1>
            <p th:text="${mycv.aboutMe}"></p>

            <style>
                .languages>h4,
                .languages>h5 {
                    margin: 4px;
                    text-align: center;
                }

                .loading_bar {
                    position: relative;
                    margin: 0px;
                    height: 16px;
                    text-align: center;
                }

                .loading_bar>span {
                    position: relative;
                    display: block;
                    height: 100%;
                }

                .loading_bar>span::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: linear-gradient(to right, #02e2ff, #00ff00);
                    animation: loading 2s 1;
                }

                @keyframes loading {
                    0% {
                        width: 0%;
                    }

                    100% {
                        width: 100%;
                    }
                }
            </style>

            <h3>Academic Info</h3>
            <div class="academic_info">
                <ul th:each="academicHistoryElement : ${mycv.academicHistory}" style="list-style-type: square;">
                    <li th:text="${academicHistoryElement.school}"></li>
                    <span th:text="'('+${academicHistoryElement.duration}+')'"></span>
                </ul>
            </div>

            <h3>Languages</h3>
            <div th:each="language : ${mycv.languages}" class="languages">
                <h4 th:text="${language.language}"></h4>
                <h5 th:text="${language.percentage} + '%'"></h5>
                <div class="loading_bar"><span style="width: 100%;"></span></div>
            </div>
        </div>

        <div class="js-portfolio" id="portfolio">
            <div class="portfolio-title">
                <h1 class="typing">Portfolio</h1>
                <p>See my works below.</p>
            </div>

            <div class="timeline">

                <div th:each="portfolioElement : ${mycv.portfolio}" class="timeline_element">
                    <div class="timeline_element-logo">
                        <p th:text="${portfolioElement.duration}"></p>
                    </div>
                    <div class="timeline_element-content">
                        <h1 th:text="${portfolioElement.company}" class="typing">EPAM Systems</h1>
                        <h1 th:text="${portfolioElement.title}" class="typing">Platform Engineer</h1>
                        <ul>
                            <li th:each="description_sentence : ${#strings.arraySplit(portfolioElement.description, '.')}"
                                th:text="${description_sentence}"></li>
                        </ul>

                        <div class="project_technologies">
                            <div class="project_technologies-title">Technologies Used</div>
                            <ul class="project_technologies-tech_tags">
                                <li th:each="technology : ${portfolioElement.technologies}" th:text="${technology}">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="text" id="portfolioJSON" th:value="${portfolio}" hidden>
        <input type="text" id="musicProjects" th:value="${musicProjects}" hidden>
        <input type="text" id="externalLinks" th:value="${externalLinks}" hidden>

    </div>

    <script>
        function showMenuItems() {
            var menuItems = document.getElementById("menuItems");
            var menuItemsStyle = getComputedStyle(menuItems);

            if (menuItemsStyle.display == "none") {
                menuItems.style.display = "block";
            } else {
                menuItems.style.display = "none";
            }

        }

        function changeProfession(toggleBtn) {
            if (toggleBtn.checked == true) {
                addMusicProjects();
            } else {
                addDevPortfolio();
            }
        }

        function addMusicProjects() {
            // ------------------------ Adding Music Projects ------------------------ 
            var musicProjectsString = document.getElementById("musicProjects").value;
            const musicProjects = JSON.parse(musicProjectsString);

            var musicProjectsHTML = `
                    <div class="portfolio-title">
                        <h1 class="typing">Music</h1>
                        <p>See my works below.</p>
                    </div>                    
                        <div class="timeline">`;
            var genresHTML = '';
            musicProjects.forEach(musicProject => {
                for (const genreObj of musicProject.genre) {
                    genresHTML += `<li>#${genreObj}</li>`;
                }
                musicProjectsHTML += `                    
                        <div class="timeline_element">
                            <div class="timeline_element-logo">
                                <p>${musicProject.release_date}</p>
                            </div>
                            <div class="timeline_element-content">
                                <h1 class="typing">${musicProject.name}</h1>
                                <p>${musicProject.description}</p>
                                <img class="album-cover" src="/img/${musicProject.album_img}" />

                                <div class="project_technologies">
                                    <div class="project_technologies-title">Genre</div>
                                    <ul class="project_technologies-tech_tags">
                                        ${genresHTML}
                                    </ul>
                                    <button class="project_technologies-btn" onclick="location.href = '${musicProject.href_link}';">See More</button>
                                </div>
                            </div>
                        </div>                
                    `;
                genresHTML = '';
            });
            musicProjectsHTML += '</div>                    ';

            var portfolio = document.getElementById("portfolio");
            portfolio.innerHTML = musicProjectsHTML;

            // var professionDescription = document.getElementById("personProfessionDescription");
            // professionDescription.innerText = "Musician/Composer";

            var professionTitle = document.getElementById("personSubtitle");
            professionTitle.innerText = "Musician/Composer";

            var menuItem = document.getElementById("menuItem2");
            menuItem.innerText = "Music";

            // ------------------------ Adding External Links ------------------------ 
            var externalLinksString = document.getElementById("externalLinks").value;
            const externalLinks = JSON.parse(externalLinksString);

            var socialIconsHTML = `
                    <a rel="me" href="${externalLinks.spotify}" title="spotify: elliotwave">
                        <i class="fa fa-spotify" aria-hidden="true"></i>
                    </a>                  
                    <a rel="me" href="${externalLinks.facebook}" title="facebook: elliotwave">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a rel="me"
                        href="${externalLinks.youtube}"
                        title="youtube: elliotwave">
                        <i class="fa fa-youtube-play" aria-hidden="true"></i>
                    </a>                  
                    <a rel="me" href="${externalLinks.bandcamp}" title="bandcamp: elliotwave">
                        <i class="fa fa-bandcamp"></i>
                    </a>               
            `;

            var socialIcons = document.getElementById("social-icons");
            var blockSocialIcons = document.getElementById("block-social-icons");
            socialIcons.innerHTML = socialIconsHTML;
            blockSocialIcons.innerHTML = socialIconsHTML;
        }

        function addDevPortfolio() {
            // ------------------------ Adding Dev Portfolio ------------------------ 
            var portfolioString = document.getElementById("portfolioJSON").value;
            const portfolioObj = JSON.parse(portfolioString);

            // var professionDescription = document.getElementById("personProfessionDescription");
            // professionDescription.innerText = "DevOps Engineer";

            var portfolioHTML = `
                    <div class="portfolio-title">
                        <h1 class="typing">Portfolio</h1>
                        <p>See my works below.</p>
                    </div>

                    <div class="timeline">`;
            var description_sentences = {}; var descriptionModified = '';                  
            var technologiesHTML = '';
            
            portfolioObj.forEach(jobPosition => {
                description_sentences = jobPosition.description.split(".");
                description_sentences.pop();
                // Append to beginning and end of each string
                descriptionModified = description_sentences.map(sentence => `<li>${sentence}</li>`);

                for (const technology of jobPosition.technologies) {
                    technologiesHTML += `<li>#${technology}</li>`;
                }
                portfolioHTML += `       
                        <div class="timeline_element">
                            <div class="timeline_element-logo">
                                <p>${jobPosition.duration}</p>
                            </div>
                            <div class="timeline_element-content">
                                <h1 class="typing">${jobPosition.company}</h1>
                                <h1 class="typing">${jobPosition.title}</h1>                                
                                ${descriptionModified.join("")}
                                <div class="project_technologies">
                                    <div class="project_technologies-title">Technologies Used</div>
                                    <ul class="project_technologies-tech_tags">
                                        ${technologiesHTML}                                        
                                    </ul>
                                </div>
                            </div>
                        </div>                                     
                    `;
                description_sentences = {};
                // Append to beginning and end of each string
                descriptionModified = '';                    
                technologiesHTML = '';
            });            
            portfolioHTML += `</div>                `;

            var portfolio = document.getElementById("portfolio");
            portfolio.innerHTML = portfolioHTML;            

            var professionTitle = document.getElementById("personSubtitle");
            professionTitle.innerText = "DevOps Engineer";

            var menuItem = document.getElementById("menuItem2");
            menuItem.innerText = "Portfolio";

            // ------------------------ Adding External Links ------------------------ 
            var externalLinksString = document.getElementById("externalLinks").value;
            const externalLinks = JSON.parse(externalLinksString);

            var socialIconsHTML = `
                    <a rel="me" href="mailto:elliotmtz12@gmail.com" title="mail: elliotmtz12@gmail.com">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </a>
                    <a rel="me" href="${externalLinks.linkedin}"
                        title="linkedin: elliot martinez palomino">
                        <i class="fa fa-linkedin-square"></i>
                    </a>
                    <a rel="me" href="${externalLinks.github}" title="git: elliot">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>                
            `;            
            
            var socialIcons = document.getElementById("social-icons");
            var blockSocialIcons = document.getElementById("block-social-icons");
            socialIcons.innerHTML = socialIconsHTML;
            blockSocialIcons.innerHTML = socialIconsHTML;
        }        
    </script>
</body>

</html>